@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

* {
  margin: 0;
  border: 0;
}

body {
  height: 100vh;
  box-sizing: content-box;
  background-color: #000000;
  color: #f6f6f6;
}

.destaque-titulo {
  color: #22d4fd;
}

.cabecalho{
  padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
  display: flex;
  gap: 80px;
}
.cabecalho__menu_link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #22D4FD;
  text-decoration: none;
}

.apresentacao{
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.apresentacao__conteudo {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", serif;
  text-align: justify;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: "Montserrat", serif;
  text-align: justify;
}

.apresentacao__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.apresentacao__link__subtitulo {
  font-family: "Krona one", serif;
  font-weight: 400;
  font-size: 24px;
}

.botoes__container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 20px;
}

.apresentacao__link__link {
  /* background-color: #22D4FD; */
  display: flex;
  justify-content: center;
  border: 2px solid #22d4fd;
  width: 280px;
  align-items: center;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  gap: 8px;
}

.imagem {
  width: 600px;
  border-radius: 16px;
  aspect-ratio: 1/1;
}

.coluna {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.apresentacao__link__link:hover{
    background-color: #272727;
}

.rodape{
    padding: 24px;
    color: #000000;
    background-color: #22d4fd;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}