@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

:root {
  --cor-primaria: #070F2B;
  --cor-secundaria: #dce7ee;
  --cor-terciaria: #dce7ee;
  --cor-hover: #9290C3;
  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria), sans-serif;
  display: flex;
  flex-direction: column;
}

.title--highlight {
  color: var(--cor-terciaria);
}

.header {
  padding: 2% 0 0 15%;
}

.menu {
  display: flex;
  gap: 80px;
}

.menu__link {
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
}

.content__info {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.content__title {
  font-size: 36px;
  font-family: var(--fonte-primaria), sans-serif;
  text-align: justify;
}

.content__description {
  font-size: 24px;
  text-align: justify;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social__title {
  font-family: var(--fonte-primaria), sans-serif;
  font-size: 24px;
}

.social__container {
  display: flex;
  gap: 25px;
  padding: 20px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--cor-terciaria);
  width: 280px;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  gap: 8px;
}

.social__link:hover {
  background-color: var(--cor-hover);
}

.content__image {
  width: 600px;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
}

.social__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer {
  padding: 24px;
  background-color: var(--cor-terciaria);
  text-align: center;
}

.footer__text {
  color: var(--cor-primaria);
  font-size: 24px;
}
